<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style_h.css">
</head>
<body>
    <header>
        <h1>Welcome to Technician Finder</h1>
    </header>

    <div class="services-container">
        <div class="service">
            <img src="../../Images/painting.jpg" alt="Painting">
            <h2>Painting</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Book Now</a>
        </div>
        <div class="service">
            <img src="../../Images/carpentering.png" alt="Carpentering">
            <h2>Carpentering</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Book Now</a>
        </div>
        <div class="service">
            <img src="../../Images/electricain.png" alt="Electrical">
            <h2>Electrician</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Book Now</a>
        </div>
    </div>
</body>
</html>
