<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technician Signup</title>
    <link rel="stylesheet" href="../CSS/style_t.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header-div">
            <h1>Technician Signup</h1>
        </div>
        <div class="form-container">
            <form action="/signupt" method="POST">
                <input type="text" name="firstName" placeholder="First Name" required>
                <input type="text" name="lastName" placeholder="Last Name" required>
                <input type="text" name="contactNo" placeholder="Contact Number" required>
                <!-- <input type="text" name="location" placeholder="Location/Address" required> -->
                <label for="services">Select Location:</label>
                <select id="location" name="location" multiple required>
                    <option value="ktm">Kathmandu</option>
                    <option value="lal">Bhaktapur</option>
                    <option value="bkt">Lalitpur</option>
                    <!-- Add more options as needed -->
                </select>
                <input type="password" name="password" placeholder="Password" required>
                <label for="services">Select Services:</label>
                <select id="services" name="services" multiple required>
                    <option value="painting">Painting</option>
                    <option value="plumbing">Plumbing</option>
                    <option value="electrical">Electrician</option>
                    <!-- Add more options as needed -->
                </select>

                <!-- <form action="/login" method="POST"> -->
                    <!-- <button type="submit">Login</button> -->
                    <div class="button-container">
                        <button type="submit">Create Account</button>
                    </div>
                <!-- </form> -->

            </form>
        </div>
    </div>
</body>
</html>
